[Unit]
Description=xremap
Requires=org.gnome.Shell@wayland.service
After=org.gnome.Shell@wayland.service

[Service]
KillMode=process
ExecStart=%h/.cargo/bin/xremap %h/.xremap
ExecStop=/usr/bin/killall xremap
Restart=always

[Install]
WantedBy=default.target
